<ion-header [translucent]="true">
  <ion-toolbar class="barra-naranja">
    <ion-title>Trade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido-bajo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contenido-bajo">
    <ion-title size="large"></ion-title>

    <ion-card #card class="centrar-animacion">
      <ion-card-content>Error 404-Error 404-Error 404-Error 404-Error 404</ion-card-content>
    </ion-card>

    <ion-button [routerLink]="['/home']" (click)="play()" class="centrar-play">Volver Home</ion-button>
    <p (click)="stop()"></p>
  </div>
</ion-content>

