  .barra-naranja {
    --background: linear-gradient(to bottom, #ededed, #74a79a); 
    color: #fff; 
  }
  .boton-gris {
    --background: #ffac58;
    --color: white; 
  }
  .barra-baja{
    --background: linear-gradient(to bottom, #ededed, #74a79a); 
       
    }