ion-content{
  --background: linear-gradient(0deg,rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
  url("/assets/icon/trade.jpeg") no-repeat center center / cover;
}
  
  
  .barra-naranja {
    --background: linear-gradient(to bottom, #ededed, #74a79a); 
    color: #fff; 
  }
  .boton-gris {
    --background: #ffac58;
    --color: white; 
  }
  .barra-baja{
    --background: linear-gradient(to bottom, #ededed, #74a79a); 
       
    }