<ion-content>
  <ion-card class="validation-card">
    <ion-card-header>
      <ion-card-title>Saca una imagen visible a tu documento de identidad y envíala</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <h6>Nuestro equipo dentro de 48 horas validará la información y tendrás acceso a tu cuenta.</h6>

      <ion-fab-button (click)="takePhoto()" class="camera-button">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>

      <ion-img [src]="photoData" *ngIf="photoData"></ion-img>

      <ion-button expand="full" (click)="enviarImagen()" *ngIf="photoData">
        Enviar
      </ion-button>
    </ion-card-content>

    <ion-content>
      <ion-card class="validation-card">
        <ion-card-header>
          <ion-card-title>Saca una imagen visible a tu documento de identidad y envíala</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <h6>Nuestro equipo dentro de 48 horas validará la información y tendrás acceso a tu cuenta.</h6>
    
          <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button (click)="takePhoto()">
              <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
          </ion-fab>
    
          <ion-img [src]="photoData" *ngIf="photoData"></ion-img>
    
          <ion-button expand="full" (click)="enviarImagen()" *ngIf="photoData">
            Enviar
            
          </ion-button>
        </ion-card-content>
        
      </ion-card>
    
      
      
    
    </ion-content>
  </ion-card>



  <ion-card>
    <h6> Tu Ubicacion</h6>
    <ion-fab-button #geolocation (click)="getCurrentPosition()" class="camera-button">
      <ion-icon name="location"> </ion-icon> <!-- Agrega el icono de geolocalización aquí -->
    </ion-fab-button>
    
</ion-card>

  <ion-card>
    <div id="map"></div>
  </ion-card>

  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.25422030772!2d-74.14483101230368!3d40.69763074461104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNueva%20York%2C%20EE.%20UU.!5e0!3m2!1ses-419!2scl!4v1699402618917!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>


</ion-content>




