<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="login-section ion-padding">
    <div class="action-buttons ion-padding">
      <ion-button class="crear-person">Cuenta de usuario</ion-button>
    
      <ion-button [routerLink]="['/registro']" class="crear-trab">Cuenta de Trabajador</ion-button>

    </div>
    


  </ion-card>

  
</ion-content>
