ion-content{
    --background: linear-gradient(0deg,rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
    url("/assets/icon/sol.jpg") no-repeat center center / cover;
}

.login-section{
    height: 80vh;
    width: 100%;
    max-width: 500PX;
    background: white;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    

    .heading{
        margin-top: 20px;
        h1{
            font-size: 1.6rem;
            font-weight: bolder;

        }

        p{
            margin-top:20px;
            font-size: 1rem;
            color: #7b7b7b;
        }
    }

    ion-icon{
        position: absolute;
        top: 37px;
        z-index: 2;
        font-size: 1.2rem;
        left: 5px;
    }
    ion-label{
        position: absolute;
        margin-left: 35px;
        font-weight: bolder;
        top: 3px;
    }
    ion-input{
        font-size: 0.9rem;
        --padding-start: 36px;
        --padding-top: 36px;
        color: #7b7b7b;
    }

    .action-buttons{
        text-align: center;
        .login-button{
            --background: #f9b801;
            width: 100%;
            font-weight: bold;
        }
        p{
            margin-top: 15px;
            font-size: 1rem;
            color: #7b7b7b;
        }
        .signup-button{
            --border-color: #b4b4b4;
            -color: #000000;
            font-weight: bold;
            margin-top: 30px;
            width: 100%;
        }
    }



   
}


.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-modal {
    --height: auto;
  }

  .login-button-modal{
    --background: #f9b801;
    width: 50%;
    font-weight: bold;
}

ion-icon{
    position: absolute;
    top: -3px;
    z-index: 2;
    font-size: 1.2rem;
    left: -1px;
}

ion-label{
    
    margin-left: 35px;
    font-weight: bolder;
    margin-top: 3px;
}


ion-input{
    font-size: 0.9rem;
    --padding-start: 36px;
    --padding-top: 36px;
    color: #7b7b7b;
}

.action-button{
    text-align: center;
}



