<ion-header>
  <ion-toolbar>
    <ion-title>
     Tradel
    </ion-title>
    <ion-buttons slot="end">
      <ion-item (click)="salir()" routerDirection="root" lines="none" detail="false">
        <ion-icon  [name]="'exit-outline'"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre de Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="userData.username" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="userData.nombre"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="userData.apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nivel de Educación</ion-label>
        <ion-select [(ngModel)]="userData.nivelEducacion" label="Seleccionar">
          <ion-select-option value="Basica">Basica</ion-select-option>
          <ion-select-option value="Media">Media</ion-select-option>
          <ion-select-option value="Universitaria">Universitaria</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de Nacimiento</ion-label>
        <div class="custom-date-input">
          <input
            type="text"
            [(ngModel)]="userData.fechaNacimiento"
            readonly
            (click)="abrirCalendario()"
          />
          <ion-icon name="calendar" (click)="abrirCalendario()"></ion-icon>
        </div>
      </ion-item>
      
      

  <ion-button expand="full" (click)="limpiarCampos()">Limpiar</ion-button>
  <ion-button expand="full" (click)="mostrarInformacion()">Mostrar</ion-button>