  <ion-header>
  <ion-toolbar class="barra-naranja">
    <ion-title>
      TRADES
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir()" routerDirection="root" fill="clear" shape="round">
        <ion-icon [name]="'exit-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bienvenido">
    <ion-title class="titulo-bienvenido">
      Bienvenido, {{ userData.username }}
    </ion-title>
    
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Disponibilidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>¿Estás disponible?</ion-label>
      <ion-toggle [(ngModel)]="disponible" color="success" (ionChange)="cambiarDisponibilidad()"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis Trabajos en Trades</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let trabajo of trabajosPendientes" lines="none">
          {{ trabajo.nombre }}
          <ion-note slot="end">{{ trabajo.fecha }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card><mat-form-field class="example-chip-list">
    <mat-label>Comunas a Trabajar</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter comunas">
      <mat-chip-row *ngFor="let comuna of comunas"
                    (removed)="remove(comuna)"
                    [editable]="true"
                    (edited)="edit(comuna, $event)"
                    [aria-description]="'press enter to edit ' + comuna.name">
        {{comuna.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + comuna.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input placeholder="New comuna..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
  </mat-form-field></ion-card>
  
</ion-content>
  <ion-footer>
    <ion-toolbar class="barra-baja">
      <ion-buttons class="botones-navegacion" style="justify-content: center;">
        
          <ion-tab-button tab="inicio">
            <ion-icon name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/pmaestro']" tab="perfil">
            <ion-icon name="person"></ion-icon>
            <ion-label>Perfil</ion-label>
            
          </ion-tab-button>
          
  
        <ion-tab-button tab="notificaciones">
          <ion-icon name="notifications"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="soporte">
          <ion-icon name="help"></ion-icon>
          <ion-label>Soporte</ion-label>
        </ion-tab-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  



  