ion-content{
  --background: linear-gradient(0deg,rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
  url("/assets/icon/trade.jpeg") no-repeat center center / cover;
}



ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10; 
  background-color: var(--ion-background-color);
}


.botones-navegacion {
  display: flex;
  justify-content: space-around; 
  align-items: center;
}

.mensaje-bienvenida {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.mensaje-bienvenida h3 span {
  font-weight: bold;
  color: tu-color-de-texto;
}

ion-select {
  --ion-border-color: transparent;
  --ion-background-color: transparent;
  --ion-placeholder-color: transparent;
  --ion-color-placeholder: transparent;
}

ion-badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

ion-select-option {
  display: flex;
  align-items: center;
}
.barra-naranja {
  --background: linear-gradient(to bottom, #ededed, #74a79a); 
  color: #fff;
  }

  
  .boton-gris {
    --background: #ffac58;
    --color: white; 
  }

    


.toggle-verde .toggle-inner {
  background-color: green;
}

.toggle-verde .toggle-thumb {
  background-color: white; 
}
.botones-navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
}
 .barra-baja{
  --background: linear-gradient(to bottom, #ededed, #74a79a);
     
  }
  .example-chip-list {
    width: 100%;
    
  }